<table style="float: left;">
  <thead>
    <tr>
      <th style="border-bottom:1pt solid black">Categories</th>
    </tr>
  </thead>
  <tbody>
      <p><input type="checkbox" />Home</p>
      <p><input type="checkbox" />Garden</p>
      <p><input type="checkbox" />Clothing</p>
      <p><input type="checkbox" />Pet</p>
      <p><input type="checkbox" />Electronics</p>
      <p><input type="checkbox" />School and Office</p>
      <p><input type="checkbox" />Cosmetics</p>
      <p><input type="checkbox" />Hygiene</p>
      <p><input type="checkbox" />Food</p>
      <p><input type="checkbox" />Sports</p>
      <p><input type="checkbox" />Music</p>
      <p><input type="checkbox" />Hardware</p>
  </tbody>
</table>

<div class="container" style="width: 70%;">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Original</th>
        <th scope="col">Discount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of discounted">
          <td *ngIf="discount.imgSrc"><img src ='{{discount.imgSrc}}' width=100 height=100 ></td>
          <td>{{discount.Name}}</td>
          <td>{{discount.Original}}</td>
          <td>{{discount.Discount}}</td>
          <td>{{discount.Quantity}}</td>
          <td>{{discount.Rating}}</td>
          <td><button type="button" class="btn btn-secondary"
            [routerLink]="['/cart']">Add to Cart</button></td>
      </tr>
    </tbody>
  </table>
</div>
