<table>
  <thead>
    <tr>
      <th style="border-bottom:1pt solid black">Categories</th>
    </tr>
  </thead>
  <tbody>
      <p><input type="checkbox" />Home</p>
      <p><input type="checkbox" />Garden</p>
      <p><input type="checkbox" />Clothing</p>
      <p><input type="checkbox" />Pet</p>
      <p><input type="checkbox" />Electronics</p>
      <p><input type="checkbox" />School and Office</p>
      <p><input type="checkbox" />Cosmetics</p>
      <p><input type="checkbox" />Hygiene</p>
      <p><input type="checkbox" />Food</p>
      <p><input type="checkbox" />Sports</p>
      <p><input type="checkbox" />Music</p>
      <p><input type="checkbox" />Hardware</p>
  </tbody>
</table>
