<header class="w3-container w3-black w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo" align="center">Bargain City</h1>
    <p class="w3-xlarge">Use code "bargain" for 30% off</p>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link active" href="#" routerLink='/home' routerLinkActive="active">Home (Catalog)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/discounted' routerLinkActive="active">Discounted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/contactus' routerLinkActive="active">Contact Us</a>
        </li>
        <li>
          <a class="nav-link" href="#" routerLink='/help' routerLinkActive="active">Help</a>
        </li>
        <li>
          <a class="nav-link" href="#" routerLink='/login' routerLinkActive="active">Login</a>
        </li>
        <li>
          <a class="nav-link" href="#" routerLink='/cart' routerLinkActive="active">Cart</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onClick(search)">Search</button>
      </form>
    </div>
  </nav>