<div class="container">
    <hr>
         <div class="row">
           <div class="col">
                Copyright © 2019 Bargain City, Inc. All rights reserved
           </div>
                <a class="col" align="right" [routerLink]="['/terms']">Terms and Conditions</a>
           </div>
               <a class="row" href="https://www.facebook.com/">Facebook</a>
               <a class="row" href="https://www.instagram.com/">Instagram</a>
               <a class="row" href="https://twitter.com/">Twitter</a>
          </div>