<div class="container">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Rating</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
            <th>{{product.imgSrc}}</th>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Quantity}}</td>
            <td>{{product.Rating}}</td>
            <td><button type="button" class="btn btn-primary"
              [routerLink]="['/detail', product.id]">View</button></td>
            <td><button type="button" class="btn btn-secondary"
              (click)="onClick(cart)">Add to Cart</button></td>
        </tr>
      </tbody>
    </table>
</div>