<div class="container">
  <div class="categories">
    <table>
      <thead>
        <tr>
          <th>Categories</th>
        </tr>
      </thead>
      <tbody>
        <p><input type="checkbox" />Home</p>
        <p><input type="checkbox" />Garden</p>
        <p><input type="checkbox" />Clothing</p>
        <p><input type="checkbox" />Pet</p>
        <p><input type="checkbox" />Electronics</p>
        <p><input type="checkbox" />School and Office</p>
        <p><input type="checkbox" />Cosmetics</p>
        <p><input type="checkbox" />Hygiene</p>
        <p><input type="checkbox" />Food</p>
        <p><input type="checkbox" />Sports</p>
        <p><input type="checkbox" />Music</p>
        <p><input type="checkbox" />Hardware</p>
      </tbody>
    </table>
  </div>

  <div class="floatRight">
    <table>
      <thead>
        <tr>
          <th>MacBook Pro</th>
        </tr>
      </thead>
      <tbody>
        <p>$1,299.99</p>
        <p>Quantity: 1</p>
        <p>Add to Cart</p>
        <p>Share</p>
        <p>Save to Wish List</p>
        <p>Rating: 4.7/5</p>
      </tbody>
    </table>
  </div>
  <div class="floatRight">
    <table>
      <thead>
        <tr>
          <th>Swiffer Wetjet</th>
        </tr>
      </thead>
      <tbody>
        <p>$24.99</p>
        <p>Quantity: 1</p>
        <p>Add to Cart</p>
        <p>Share</p>
        <p>Save to Wish List</p>
        <p>Rating: 4.0/5</p>
      </tbody>
    </table>
  </div>
  <div class="floatRight">
    <table>
      <thead>
        <tr>
          <th>Ray-Ban Sunglasses</th>
        </tr>
      </thead>
      <tbody>
        <p>$150.00</p>
        <p>Quantity: 1</p>
        <p>Add to Cart</p>
        <p>Share</p>
        <p>Save to Wish List</p>
        <p>Rating: 3.9/5</p>
      </tbody>
    </table>
  </div>
  <div style="width: 50%; float: right;">
      <table>
        <thead>
          <tr>
            <th>Lays Potato Chips</th>
          </tr>
        </thead>
        <tbody>
          <p>$9.99</p>
          <p>Quantity: 1</p>
          <p>Add to Cart</p>
          <p>Share</p>
          <p>Save to Wish List</p>
          <p>Rating: 3.5/5</p>
        </tbody>
      </table>
    </div>
  <div class="floatRight">
    <table>
      <thead>
        <tr>
          <th>Beats Headphones</th>
        </tr>
      </thead>
      <tbody>
        <p>$99.99</p>
        <p>Quantity: 1</p>
        <p>Add to Cart</p>
        <p>Share</p>
        <p>Save to Wish List</p>
        <p>Rating: 4.5/5</p>
      </tbody>
    </table>
  </div>
</div>
</div>