<div class="container">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="row">Image</th>
          <th scope="row">Name</th>
          <th scope="row">Price</th>
          <th scope="row">Quantity</th>
          <th scope="row">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.imgSrc}}</td>
            <th>{{product.Name}}</th>
            <td>{{product.Price}}</td>
            <td>{{product.Quantity}}</td>
            <td>{{product.Rating}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-light-blue btn-primary" (click)="onClick(cart)">Add to cart</button>
</div>
